@font-face{
    font-family: "Power Green";
    src:url("powerg.ttf");
}

.root{
    -fx-font-family: "Power Green";
}


.boton-hover:hover{
    -fx-effect:dropshadow(gaussian,rgba(0,0,0,0.5),10,0.3,0,2);
    -fx-scale-x:1.1;
    -fx-scale-y:1.1;
    -fx-transition:all 0.2s ease-in-out;
}